{% extends 'base.html.twig' %}

{% block title %}Edit ConsultCalendar{% endblock %}

{% block body %}
    <h1>Edit ConsultCalendar</h1>

    {{ include('consult_calendar/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('agenda_list') }}">back to list</a>

    {{ include('consult_calendar/_delete_form.html.twig') }}
{% endblock %}
