{% extends 'base.html.twig' %}

{% block title %}New ConsultCalendar{% endblock %}

{% block body %}
    <h1>Create new ConsultCalendar</h1>

    {{ include('consult_calendar/_form.html.twig') }}

    <a href="{{ path('agenda_list') }}">back to list</a>
{% endblock %}
