{% extends 'base.html.twig' %}
{% block title %}Erreur 404{% endblock %}

{% block nav %}
<nav class="uk-navbar-container" uk-navbar>
    
    <div >
        <a class="uk-navbar-center" href="{{path("home_detail",{"id":app.session.get("cabinet").getId()})}}"><h1>Accueil<h1></a>
    </div>

</nav>
{% endblock %}
{% block body %}
    <div >
        <h1>Cette page n'existe pas<h1>
    </div>
{% endblock %}